@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/*
    font-family: 'Ubuntu', sans-serif;
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: darkslategray;
    font-family: 'Ubuntu', sans-serif;
}
h1 {
    color: white;
    margin: 20px 0;
}
.busca {
    display: flex;
    width: 300px;
}
.busca #searchInput {
    flex: 1;
    padding: 10px;
    outline: none;
    font-size: 15px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0;
    text-align: center;
}
#searchInput::placeholder {
    color: gray;
    text-align: center;
}
.busca button {
    padding: 10px;
    font-size: 15px;
    border: 0;
    background-color: lightgray;
    color: rgb(12, 12, 12);
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}
.busca button:hover {
    background-color: gray;
}
.resultado {
    margin-top: 20px;
    width: 300;
    display: none;
    border: 1px solid  white;
    width: 300px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.titulo {
    width: 100%;
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}
.info {
    display: flex;
    width: 100%;
    min-height: 200px;
}
.info .temp {
    flex: 1;
    text-align: center;
}
.info .vento {
    flex: 1;
    text-align: center;
}
.tempTitulo,
.ventoTitulo,
.ventoNome  {
    color: white;
    font-size: 16px;
    margin-bottom: 5px;
}
.tempInfo,
.ventoInfo {
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.tempInfo sup {
    font-size: 15px;
    font-weight: normal;
}
.ventoInfo span {
    font-size: 15px;
    font-weight: normal;
}
.ventoArea {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;
    padding-left: 25px;
    padding-top: 25px;
}
.ventoPonto {
    width: 15px;
    height: 1px;
    background-color: white;
    transform-origin: left;
}
.aviso {
    color: white;
    padding-top: 20px;
}

footer {
    margin-top: 20px;
    color: white;
    font-size: 13px;
}
footer {
    margin: auto;
    width: 100vw;
    height: 100px;
    align-content: center;
    text-align: center;
}
ul {
    list-style: none;
}
ul li {
    display: inline-block;
}
a {
    display: block;
    color: black;
}
a:hover {
    color:white;
}
i {
    font-size: 40px;
    padding: 20px;
}
footer .copyrights {
    margin: auto;
}
.copy {
    margin: 0;
    background: lightyellow;
    font-weight: bolder;
}